<h3>Add offre!</h3>

<div class="form-group">
    <label>Titre</label>
    <input class="form-control" [(ngModel)]="Post.title">
</div>
<div class="form-group">
    <label>Description</label>
    <textarea class="form-control" [(ngModel)]="Post.description"></textarea>
</div>
<div class="form-group">
    <label>Type de contrat</label>
    <select  class="form-control" [(ngModel)]="Post.contract_type">
        <option value="cdd">CDD</option>
        <option value="cdi">CDI</option>
        <option value="sivp">SIVP</option>
    </select>
</div>
<div class="form-group">
    <label>Salaire</label>
    <input class="form-control" [(ngModel)]="Post.salaire">
</div>
<button class="btn btn-success" (click)="ajouter()">Ajouter</button>
